.my_page {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  color: white;
}

.my_page h1 {
  font-family: 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.my_page_img {
  width: 80%;
  margin: 20px;
  border-radius: 10px;
  /* border: 1px solid white; */
  padding: 10px;
}

.my_button {
  position: absolute;
  top: 0;
  left: 0;
  padding: 20px;
  background: red;
  color: white;
  /* border-radius: 10px; */
  border: none;
}

.my_message {
  padding: 10px;
  border: none;
  background: blue;
  color: white;
  border-radius: 10px;
  margin: 20px;
}

.my_page_img {
  display: flex;
  flex-wrap: wrap;
  /* align-items: center; */
  justify-content: center;
}

.my_page_img img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  cursor: pointer;
  object-fit: cover;
  margin: 5px;
}

.my_page h2 {
  text-align: center;
  font-family: 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-style: italic;
  color: red;
}

.my_page h3 {
  font-family: 'Lucida Sans', Arial, sans-serif;
  font-style: italic;
  font-size: 10px;
}