.private {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.private input {
  width: 70%;
  padding: 20px;
}

.private button {
  width: 30%;
  padding: 20px;
  background: green;
  color: white;
  cursor: pointer;
}

.private form {

  margin-top: auto;

}

.private_chat h3 {
  margin: 5px;
  font-family: 'Courier New', Courier, monospace;
}

.private_user_chat {
  background: blue;
  width: 50%;
  padding: 10px;
  border-radius: 0 20px 10px 50px;
  margin: 10px;
  text-align: center;
}

.private_user_chat_right {
  background: green;
  width: 50%;
  padding: 10px;
  border-radius: 20px 0 50px 10px;
  margin: 10px 40%;
  text-align: center;
}

.private_chat span {
  /* font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; */
  font-style: italic;
  color: rgb(160, 160, 160);
}